.launcher,
.launcher_opened {
  position: fixed;
  bottom: 0px;
  right: 10px;
}
.chat_window,
.chat_window_button {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-sizing: border-box;
  border-right: 1px solid rgb(0, 0, 0);
  border-top: 1px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
  position: fixed;
  bottom: 0px;
  right: 10px;
}
.chat_window {
  width: 650px;
  height: fit-content;
  box-shadow: 0px 0px 2px 2px rgba(3, 44, 71, 0.18);
}
.chat_window_button:hover {
  cursor: pointer;
}

.chat_window_button_content {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.chat_window_header {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid gray;
}

.chat_window_header > h2 {
  font-size: 0.9375rem;
  font-weight: 500;
  padding-left: 10px;
}

.chat-profile-header-container {
  margin-left: 12px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: black;
}

.chat_window_close_button {
  align-self: flex-end;
  padding-right: 25px;
}
.chat_window_close_button:hover {
  cursor: pointer;
}
.chat_window_header_title {
  padding-left: 15px;
  padding-right: 5px;
  flex: 1;
}
.chat_window_container {
  width: 100%;
  height: 48vh;
  display: flex;
  flex-direction: row;
}
.chat_window_user {
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgb(219, 217, 217);
}
.chat_window_container_right_box {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  border-right: 1px solid gray;
}
.chat_window_container_message_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  height: 100%;
}
.chat_window_container_contact_box {
  width: 40%;
}

.chat_window_container_message_box_display {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 32px;
  padding-bottom: 12px;
}
.chat_window_container_message_box_display_realestate {
  margin: 5px 5px 5px 5px;
  border-radius: 2px;
  background-color: rgb(245, 245, 245);
  flex-direction: row;
  display: flex;
  /* width: 100%; */
  height: 60px;
  border-bottom: 1px solid rgb(219, 217, 217);
}
.chat_window_container_message_box_display_realestate_image {
  /* height: 80%; */
  margin: 5px 5px 5px 5px;
  width: 30%;
}
.chat_window_container_message_box_display_realestate_image > img {
  height: 100%;
  width: auto;
}
.chat_window_container_message_box_display_realestate_info {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  padding-left: 5px;
  width: 70%;
}
.chat_window_container_message_box_display_realestate_info_title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  font-size: 10px;
  font-weight: 700;
}
.chat_window_container_message_box_display_realestate_info > p {
  font-size: 10px;
}

.message {
  position: relative;
  font-size: 16px;
  padding: 7px 12px 8px 12px;
  border-radius: 18px;
  width: fit-content;
  margin-bottom: 20px;
  color: black;
  margin-left: 10px;
  max-width: 220px;
  word-wrap: break-word;
}

.message_send {
  margin-left: auto;
  /* display: flex;
  flex-direction: column; */
  background-color: black;
  color: white;
  margin-right: 14px;
  font-size: 15px;
}
.message_name {
  position: absolute;
  top: -20px;
  /* left: px; */
  font-size: x-small;
  font-weight: 800;
  color: black;
  word-wrap: normal;
  min-width: 200px;
  text-align: right;
}
.message_name_send {
  position: absolute;
  top: -20px;
  right: 0px;
  font-size: x-small;
  font-weight: 800;
  color: black;
}
.message_name_receive {
  position: absolute;
  top: -20px;
  left: 0px;
  font-size: x-small;
  font-weight: 800;
  color: black;
  text-align: left;
}

.chat_window_container_message_box_input {
  padding: 12px 8px;
  border-top: 1px solid gray;
  height: auto;
  display: flex;
  flex-direction: column;
}

.button_send_message {
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;
  padding: 0 8px;
  margin-left: 4px;
  height: 40px;
  width: 40px;
}
.button_send_message:hover {
  background-color: rgb(219, 217, 217);
}
.contact_item:hover .right-content-container {
  background-color: rgb(225, 225, 225);
}

.contact_item {
  cursor: pointer;
  height: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid rgb(219, 217, 217);
  display: flex;
  flex-direction: row;
}

.contact_item > .right-content-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 12px;
  padding-right: 12px;
  width: 85%;
  margin: 4px auto;
  border-radius: 6px;
}
.contact_item > .right-content-container h4 {
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  /* word-break: break-work; */
  font-size: 0.9375rem;
  word-wrap: break-word;
  text-align: left;
}
.contact_item > .right-content-container span {
  font-size: 13px;
  font-weight: 400;
  overflow: hidden;
  color: rgb(101, 103, 107);
  /* word-break: break-work; */
  font-size: 0.9375rem;
  word-wrap: break-word;
  text-align: left;
}

option[value=""][disabled] {
  display: none;
}
select:required:invalid {
  color: gray;
}
option {
  color: black;
}
.chat_window_container_message_box_popup {
  background-color: white;
  border: 1px solid gray;
  position: absolute;
  z-index: 1;
  border-radius: 6px;
  padding: 8px;
  width: auto;
  height: auto;
  bottom: 22%;
  left: 13%;
  text-align: center;
}

.deal-button {
  margin-bottom: 12px;
}

.presentation-pic-container {
  width: 75px;
  height: 50px;
  background-color: gray;
  background-repeat: no-repeat;
  object-fit: cover;
  padding: 4px;
  /* background-image: url('https://file4.batdongsan.com.vn/crop/350x232/2021/06/13/20210613112547-abeb_wm.jpg'); */
}
.presentation-pic-container > img {
  width: 75px;
  height: 50px;
  object-fit: fill;
  background-repeat: no-repeat;
}

.send-message-container {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.chat-field-container {
  width: 100%;
  background-color: #dadde2;
  height: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 8px 12px;
  border-radius: 25px;
}
.chat-field {
  background-color: transparent;
  width: 100%;
  outline: none;
  border: none;
  text-decoration: none;
  margin: auto;
  font-size: 14px;
}
.chat-field:focus {
  outline: none;
  border: none;
  text-decoration: none;
}
.send-message-icon {
  width: 2px;
  height: 2px;
  /* font-size: 50px; */
}

.interact-box {
  width: 100%;
  height: auto;
  /* padding-bottom: 12px; */
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.message-receive {
  background-color: rgb(220, 220, 220);
}

.deal-form {
  flex-direction: column;
  display: flex;
}
.deal-form-button {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.deal-form-button > button {
  background-color: black;
  border: none;
  cursor: pointer;
  color: white;
  width: 40px;
  padding: 5px 3px;
}
.chat_window_container_message_box_user {
  border-bottom: 1px solid rgb(175, 175, 175);
}
.chat_window_container_message_box_user > p {
  font-size: 16;
  font-weight: 600;
  padding-left: 20px;
}
.buyer-appointment-message-upcoming {
  display: flex;
  flex-direction: column;
}

.buyer-appointment-message-upcoming > button {
  border: none;
  background-color: white;
  border-radius: 5px;
  width: 55px;
  height: 20px;
  cursor: pointer;
}
.seller-deal-message {
  display: flex;
  width: 120px;
}

.seller-deal-message-pending-button {
  padding-top: 5px;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.seller-deal-message-pending-button > button {
  border: none;
  background-color: white;
  border-radius: 5px;
  width: 55px;
  height: 20px;
  cursor: pointer;
}
.buyer-deal-message > button {
  border: none;
  background-color: white;
  border-radius: 5px;
  width: 75px;
  height: 20px;
  cursor: pointer;
}
.time-form {
  display: flex;
}
