div.product-list {
  margin: 0px 12px 0px 12px;
  /* background-color: blue; */
  width: 800px;
  height: 100%;
}

.not-found-container {
    margin: 0 auto;
    margin-top: 24px;
    width: 500px;
    height: 500px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 330px 330px;
    background-color: inherit;
}

.not-found {
    margin: 0 auto;
    width: 330px;
    height: 330px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: inherit;
    background-image: url('https://i.ibb.co/pfHbbcS/Screen-Shot-2021-06-27-at-09-06-47.png');
}

.not-found-container span {
    color: #747c87;
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    display: inline-block;
}

div.product-item-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  /* background-color: thistle; */
  border: 1px solid rgb(230, 230, 230);
  border-radius: 8px;
  box-shadow: 6px 6px 10px rgba(3, 44, 71, 0.18);
  margin-top: 24px;
  margin-bottom: 24px;
  /* width: ; */
  /* height: 500px; */
}

div.product-image-container {
  border-radius: 4px;
  /* background-color: yellow; */
  width: 224px;
  height: 172px;
  padding-top: 12px;
  padding-bottom: 12px;
}
img.product-image {
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  margin-left: 12px;
}

div.content-product-container {
  padding: 14px 12px 12px 12px;
  margin-left: 12px;
  /* margin: auto; */
  width: 550px;
  /* background-color: teal; */
}

.product-title {
  color: #c12f25;
  text-indent: 20px;
  text-transform: uppercase;
  padding-bottom: 8px;
  font-weight: bold;
  font-size: 14px;
  line-height: 12px;
  text-rendering: optimizeLegibility;
}

div.product-price-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.product-price {
  font-weight: bold;
  color: #2c2f36;
  font-size: 14px;
  margin-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.product-area {
  font-weight: bold;
  color: #2c2f36;
  font-size: 14px;
  margin-right: 8px;
}

.product-address {
  margin-top: 8px;
  font-size: 14px;
  color: black;
}

.product-description {
  margin-top: 8px;
  font-size: 14px;
  height: 51px;
  color: #747c87;
  overflow: hidden;
}

.product-other-info {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-uptime {
  font-size: 14px;
  color: #747c87;
}

.product-owner {
  font-size: 14px;
  color: black;
}

.product-phone-contact {
  color: white;
  background-color: black;
  /* vertical-align: middle; */
  line-height: 20px;
  padding: 6px 12px 6px 12px;
  font-size: 14px;
  font-weight: bold;
  /* text-align: center; */
  border-radius: 4px;
}
